// main: ../main.scss
/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  --background-color: rgba(0, 0, 0, 0.8);
  --heading-color: #ffffff;
  --contrast-color: #ffffff;
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 10px 0;
  transition: all 0.5s;
  z-index: 997;

  .logo {
    line-height: 1;

    img {
      max-height: 36px;
      margin-right: 8px;
    }

    h1 {
      font-size: 32px;
      margin: 0;
      font-weight: 700;
      color: var(--heading-color);
    }

    span {
      color: var(--accent-color);
      font-size: 32px;
    }
  }

  .btn-getstarted,
  .btn-getstarted:focus {
    color: var(--contrast-color);
    font-size: 14px;
    padding: 8px 30px;
    margin: 0 0 0 30px;
    border-radius: 4px;
    transition: 0.3s;
    border: 2px solid var(--accent-color);

    &:hover {
      color: var(--default-color);
      background: var(--accent-color);
    }
  }

  @media (max-width: 1200px) {
    .logo {
      order: 1;
    }

    .btn-getstarted {
      order: 2;
      margin: 0 15px 0 0;
      padding: 6px 15px;
    }

    .navmenu {
      order: 3;
    }
  }

  .scrolled & {
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
  }
}

/* Index Page Header
------------------------------*/
.index-page .header {
  --background-color: rgba(0, 0, 0, 0);
}

/* Index Page Header on Scroll
------------------------------*/
.index-page.scrolled .header {
  --background-color: rgba(0, 0, 0, 0.8);
}